body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:link,
a:visited {
    border-bottom: 2px solid lightgray;
}

a:hover {
    border-bottom: 2px solid black;
}

/* Menu layout */
.nav {
    height: 100%;
    width: 100%;
    box-sizing: content-box;

    background-image: url("../background.jpg");
    background-size: cover;
    background-position: center;

    text-align: center;
    list-style-type: none;
    color: white;

    display: grid;
    place-items: center;
}

#logo {
    width: 10ch;
    height: 10ch;
    padding-bottom: 2ch;
}

.nav-link a {
    color: white;
    border: 0;
}

.nav-link-underline a:link,
.nav-link-underline a:visited {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 3px;
}

.nav-link-underline a:hover {
    border-bottom: 2px solid currentcolor;
}

.nav hr {
    width: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav ul {
    padding: 0;
    list-style-type: none;
}

.nav li {
    padding: 0.5ch;
}

.nav h1 {
    font-family: "Merriweather", serif;
    font-size: 200%;
    margin: 0;
}

.nav-subtitle {
    font-family: "Helvetica", sans-serif;
    color: white;
}

.social a {
    border: 0;
}

.social span {
    margin: 0.5ch;
    font-size: 150%;
    font-family: 'Font Awesome 5 Brands' !important;
    color: white;
}

/* Sidebar layout */
.content-container {
    height: 100%;
    width: 100%;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family: "Merriweather", serif;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    overflow: auto;
}

.content:after {
    content: "";
    display: block;
    height: 10%;
}

@media only screen and (max-width: 1023px) {
    .content-container {
        display: grid;
        grid-template-rows: minmax(5ch, 10%) 1fr;
    }

    .sidebar {
        display: none;
    }

    .header {
        background-image: url("../background.jpg");
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: minmax(1ch, 20vw) 1fr minmax(1ch, 20vw);
        place-items: center;
    }

    .header h1 {
        font-family: "Merriweather", serif;
        color: white;
        font-size: 100%;
    }

    .header a {
        color: white;
        text-decoration: none;
        border: 0;
    }

    .hamburger-slice {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    .hamburger-container {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .content-container {
        display: grid;
        grid-template-columns: minmax(40ch, 25%) 1fr;
    }

    .content {
        padding-left: 8ch;
        padding-right: min(100% - 32ch, 25% + 8ch);
    }

    .sidebar {
        box-shadow: 3px 0px 20px gray;
    }

    .header {
        display: none;
    }
}

.page-title {
    margin-bottom: 0;
}

.small-caps {
    font-family: "Merriweather", serif;
    font-size: 75%;
    font-variant: small-caps;
    color: gray;
}

.posts li {
    list-style-type: none;
}

.posts {
    padding-left: 0;
}

.posts h3 {
    margin-bottom: 0.25ch;
}

.posts p {
    margin-top: 0.25ch;
}

.posts a {
    display: inline-block;
}

.posts a:link,
.posts a:visited {
    border-bottom: 2px solid lightgray;
}

.posts a:hover {
    border-bottom: 2px solid black;
}

/* Code blocks */
pre {
    padding: 10px;
    overflow: auto;
}

code {
    font-family: "Inconsolata", monospace;
}

/* Tables */
table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th {
    padding: 10px;
    background-color: white;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #eee;
}
