@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vmin;
}

.header {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5.9vw;
  text-align: center;
  text-transform: uppercase;
}

.content {
  padding: 1em;
}

.current-page {
  color: black;
}

.crop {
  width: 100%;
  padding-top: 125%;
  overflow: hidden;
  position: relative;
}

.crop img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }

a {
  text-decoration: none;
  color: #777;
}

a:hover {
  color: #ccc;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
  padding-bottom: 2em;
}

.circle-img {
  border-radius: 50%;
  max-width: 100%;
}
