@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 400%;
  text-align: center;
}

#profile {
  vertical-align: top;
  padding-left: 2em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
  padding-bottom: 2em;
}

.circle-img {
  border-radius: 50%;
  max-width: 100%;
}
