<head>
  <meta charset="utf-8">
  <meta name="author" content="Caleb Zulawski">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Caleb Zulawski - {{ page.title }}</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
  {% if page.additional_css %}
    {% for stylesheet in page.additional_css %}
      <link rel="stylesheet" href="//{{ stylesheet }}" type="text/css">
    {% endfor %}
  {% endif %}
</head>
