<div class="row">
  <div class="col-md-3">
    <div class="box"><a href="https://www.flickr.com/photos/czulawski/25060572207/in/dateposted/" title="Ice Floes"><div class="crop"><img src="https://farm5.staticflickr.com/4612/25060572207_3ae0987e66_k.jpg" class="photo" alt="Ice Floes"></div></a></div>
  </div>
  <div class="col-md-3">
    <div class="box"><a href="https://www.flickr.com/photos/czulawski/26223325889/in/dateposted/" title="Bridge over Rigby&#x27;s Brook"><div class="crop"><img src="https://farm5.staticflickr.com/4495/26223325889_7ae5f74f37_k.jpg" class="photo" alt="Bridge over Rigby&#x27;s Brook"></div></a></div>
  </div>
  <div class="col-md-3">
    <div class="box"><a href="https://www.flickr.com/photos/czulawski/37419525901/in/dateposted/" title="Tarn Plants"><div class="crop"><img src="https://farm5.staticflickr.com/4394/37419525901_194bc4d2b9_k.jpg" class="photo" alt="Tarn Plants"></div></a></div>
  </div>
  <div class="col-md-3">
    <div class="box"><a href="https://www.flickr.com/photos/czulawski/37419528771/in/dateposted/" title="Cairn"><div class="crop"><img src="https://farm5.staticflickr.com/4368/37419528771_d8ab79d86b_k.jpg" class="photo" alt="Cairn"></div></a></div>
  </div>
</div>
