<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Caleb Zulawski - {{ page.title }}</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
</head>

<body>
  {% include header.html %}
  <div class="row">
    <div class="col-md-4">
      <div class="box content">
        {{ content }}
      </div>
    </div>
    <div class="col-md-offset-3 col-md-2 first-md">
      <div class="box content"><img class="circle-img" src="photo.jpg"></div>
    </div>
</body>

</html>
